[Unit]
Description=CSAP server daemon

[Service]
User=nobody
ExecStart=/tmp/csap-project/server /tmp/csap-project/conf.txt
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target